################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QuantitySystemSolution/UnitsTestingProject/obj/Debug
/QuantitySystemSolution/.vs/QuantitySystemSolution/v15/sqlite3
/QuantitySystemSolution/QuantitySystem/obj/Debug
/QuantitySystemSolution/QuantitySystemTestingProject/obj/Debug
/QuantitySystemSolution/QuantitySystemCalculator/obj/Debug
/QuantitySystemSolution/QuantitySystem.Runtime/obj/Debug
/QuantitySystemSolution/QsTestProject/obj/Debug
/QuantitySystemSolution/QsGraphics/obj/Debug
/QuantitySystemSolution/Qs.Scripting/obj/Debug
/QuantitySystemSolution/Qs.RT/obj/Debug
/QuantitySystemSolution/QuantitySystemCalculator/bin/Debug
/QuantitySystemSolution/QuantitySystem.Runtime/bin/Debug
/QuantitySystemSolution/QuantitySystem/bin/Debug
/QuantitySystemSolution/QsGraphics/bin/Debug
/QuantitySystemSolution/Qs.Scripting/bin/Debug
/QuantitySystemSolution/.vs/QuantitySystemSolution/v15
/QuantitySystemSolution/Qs.RT/bin/Debug
/QuantitySystemSolution/QsTestProject/bin/Debug
/QuantitySystemSolution/QuantitySystemTestingProject/bin/Debug
/QuantitySystemSolution/UnitsTestingProject/bin/Debug
*.user
/QuantitySystemSolution/.vs/QuantitySystemSolution/v16/Server/sqlite3
/QuantitySystemSolution/.vs/QuantitySystemSolution/v16/.suo
/QuantitySystemSolution/.vs/QuantitySystemSolution/DesignTimeBuild
/QuantitySystemSolution/Qs/bin/Debug
/QuantitySystemSolution/Qs/obj
/QuantitySystemSolution/QuantitySystem/obj
