################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QuantitySystemSolution/UnitsTestingProject/obj/Debug
/QuantitySystemSolution/.vs/QuantitySystemSolution/v15/sqlite3
/QuantitySystemSolution/QuantitySystem/obj/Debug
/QuantitySystemSolution/QuantitySystemTestingProject/obj/Debug
/QuantitySystemSolution/QuantitySystemCalculator/obj/Debug
/QuantitySystemSolution/QuantitySystem.Runtime/obj/Debug
/QuantitySystemSolution/QsTestProject/obj/Debug
/QuantitySystemSolution/QsGraphics/obj/Debug
/QuantitySystemSolution/Qs.Scripting/obj/Debug
/QuantitySystemSolution/Qs.RT/obj/Debug
