################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QuantitySystemSolution/UnitsTestingProject/obj/Debug
/QuantitySystemSolution/QuantitySystem/obj/Debug
/QuantitySystemSolution/QuantitySystemTestingProject/obj/Debug
/QuantitySystemSolution/QuantitySystemCalculator/obj/Debug
/QuantitySystemSolution/QuantitySystem.Runtime/obj/Debug
/QuantitySystemSolution/QsTestProject/obj/Debug
/QuantitySystemSolution/QsGraphics/obj/Debug
/QuantitySystemSolution/Qs.Scripting/obj/Debug
/QuantitySystemSolution/Qs.RT/obj/Debug
/QuantitySystemSolution/QuantitySystemCalculator/bin/Debug
/QuantitySystemSolution/QuantitySystem.Runtime/bin/Debug
/QuantitySystemSolution/QuantitySystem/bin/Debug
/QuantitySystemSolution/QsGraphics/bin/Debug
/QuantitySystemSolution/Qs.Scripting/bin/Debug
/QuantitySystemSolution/Qs.RT/bin/Debug
/QuantitySystemSolution/QsTestProject/bin/Debug
/QuantitySystemSolution/QuantitySystemTestingProject/bin/Debug
/QuantitySystemSolution/UnitsTestingProject/bin/Debug
*.user
/QuantitySystemSolution/Qs/bin/Debug
/QuantitySystemSolution/Qs/obj
/QuantitySystemSolution/QuantitySystem/obj
/QuantitySystemSolution/Qs.StandardScripting/obj
/QuantitySystemSolution/Qs.StandardScripting/bin/Debug
/QuantitySystemSolution/packages/DynamicLanguageRuntime.1.3.0
/QuantitySystemSolution/.vs
/QuantitySystemSolution/QuantitySystemTestingProject/obj/Release
/QuantitySystemSolution/QsTestProject/obj/Release
/QuantitySystemSolution/QsGraphics/obj/Release
/QuantitySystemSolution/UnitsTestingProject/obj/Release
/QuantitySystemSolution/packages/DynamicLanguageRuntime.1.3.4
